.review {

    color: rgb(90,90,90);
    background-color: #ffffff;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .3);
    border-radius: 3px;
    
    grid-column: col-start 1 / col-end 8;
    padding: 2rem;
    font-size: 5rem;

    @media only screen and (max-width: 450px) {
        margin: 1.5rem;
        padding: 0rem;
        grid-column: 1 / -1;
    }


    @media only screen and (max-width: 350px) {
      margin: 10rem 0rem;
      padding: 0rem;
   }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &_header {
      font-size: 100%;
      font-weight: 300;
      letter-spacing: .3rem;
      margin-bottom: 4rem;

      @media only screen and (max-width: 450px) {
        

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    &_list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 450px) {
            flex-direction: column;
        }

        margin-bottom: 4rem;

        &_main {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            width: 30%;
            margin: 1rem;
            
            @media only screen and (max-width: 450px) {
                width: 96%;
                margin-bottom: 1rem ;
                padding: 1rem;
                margin-bottom: 7rem;
                //border-bottom: 2px solid rgba(90,90,90, .3);
            }

            &_photo {
              width: 15rem;
              height: 15rem;
              border-radius: 50rem;
              margin-bottom: 2rem;

              @media only screen and (max-width: 450px) {
                width: 22rem;
                height: 22rem;
              }
            }

            &_review {
              width: 100%;
              box-shadow: 0 1rem 1rem rgba(0,0,0, .3);
            }
        }

        
    }

    &_more_button {
      width: 25%;
      padding: .5rem;
      font-size: 50%;
      letter-spacing: .4rem;
      cursor: pointer;
      background-color: tomato;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      box-shadow: 0 1rem 1rem rgba(0,0,0, .3);
      transition: all .2s;
      margin-bottom: 2rem;
      
      &:hover {
          transform: scale(1.1);
      }
      &:active {
        transform: scale(.9);
      }


    }


}