
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



.service {
  grid-column: col-start 2 / col-end 7;

  @media only screen and (max-width: 450px) {
    grid-column: col-start 1 / col-end 8;
  }

  background-color: #ffffff;
  color: rgb(90,90,90);
  font-size: 3rem;
  padding: 2.5rem;
  margin: -13rem 0 8rem 0;
  box-shadow: 0 2rem 5rem rgba(0,0,0, .3);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 450px) {
    flex-direction: column;
    padding: 1rem;
  }


  &_header {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
    border-right: 2px solid rgba(90,90,90, .2);
    
    // @media only screen and (max-width: 768px) {
    //   font-size: ;
    // }
    
    @media only screen and (max-width: 450px) {
     width: 95%; 
     border-right: none;
     border-bottom: 2px solid rgba(90,90,90, .2);
     padding: 1.5rem;  
    }
    
    &_p1 {
     margin-bottom: 1rem; 
     font-size: 100%;
     font-weight: 300;

     @media only screen and (max-width: 769px) {
      font-size: 90%;
     }

     @media only screen and (max-width: 450px) {
      margin-bottom: .1rem;
     }

     @media only screen and (max-width: 450px) {
      margin-bottom: .5rem; 
     }
    }

    &_p2 {
      font-size: 50%;
      letter-spacing: .3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: 300;

      @media only screen and (max-width: 769px) {
        font-size: 45%;
       }

       @media only screen and (max-width: 450px) {
         letter-spacing: .1rem;
       }

      @media only screen and (max-width: 450px) {
        font-size: 40%;
      }

    }
  }

  &_list {
    width: 60%;
    font-size: 58%;
    font-weight: 300;

    @media only screen and (max-width: 835px) {
      font-size: 52%;
    }

    @media only screen and (max-width: 769px) {
      font-size: 50%;
    }

    @media only screen and (max-width: 450px) {
      width: 95%;
      font-size: 45%;
   
    }


    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      justify-content: center;
      text-align: start;


      li {
       width: 40%;
       margin: 1rem;
       
       @media only screen and (max-width: 450px) {
        width: 80%;
        padding-left: .7rem;
       }
       
       @media only screen and (max-width: 330px) {
        width: 80%;
        padding-left: 4rem;
       } 

       &::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: orangered; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
       }
      }
    }

  }
  
}